@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
    @model  HashSet<Insurance_agency.Models.ModelView.ContractView>
}

<h2 class="mb-5">Danh sách hợp đồng</h2>
<a href="@Url.Action("Create")" class="btn btn-success mb-3">Thêm Hợp đồng</a>
<table id="myTable" class="display">
    <thead>
        <tr>
            <th>Id</th>
            <th>Người mua</th>
  
            <th>Mã bảo hiểm</th>
            <th>Tổng giá trị bảo hiểm</th>
            <th>Tiền trả trên năm</th>
            <th>Số năm trả</th>
            <th>Trạng thái</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody id="order_list">
        <tr>
    <td>1</td>
    <td>Thoai Vip</td>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link text-primary active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Tất cả hợp đồng</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link text-primary" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Hợp đồng đã phân công</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link text-primary" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Hợp đồng chưa phân công</button>
    </li>
</ul>
<div class="tab-content" id="myTabContent" style="background-color:white">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="container-fluid">
        <table id="myTable" class="display">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Người mua</th>

                    <th>Mã bảo hiểm</th>
                    <th>Tổng giá trị bảo hiểm</th>
                    <th>Tiền trả trên năm</th>
                    <th>Số năm trả</th>
                    <th>Trạng thái</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody id="order_list">
                <tr>
                    <td>1</td>
                    <td>Thoai Vip</td>

                    <th>#BHNT32032</th>
                    <td>500.000.000</td>
                    <td>5.000.000</td>
                    <td>10</td>
                    <td>In process</td>
                    <td><a class="btn btn-info">Xem chi tiết</a></td>
                </tr>
                @if (Model != null && Model.Count > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.id</td>
                            <td>User @(item.user_id)</td>

                            <td>#BHNT3423@(item.insurance_id)</td>
                            <td>@item.value_contract</td>
                            <td>@item.year_paid</td>
                            <td>@item.number_year_paid</td>
                            <td>@item.status</td>
                            <td><a class="btn btn-info" href="/adminarea/contract/detail?id=@item.id">Xem chi tiết</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="container-fluid">
            <table id="myTable2" class="display">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Người mua</th>

                        <th>Mã bảo hiểm</th>
                        <th>Tổng giá trị bảo hiểm</th>
                        <th>Tiền trả trên năm</th>
                        <th>Số năm trả</th>
                        <th>Trạng thái</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody id="order_list">
                    <tr>
                        <td>1</td>
                        <td>Thoai Vip</td>

                        <th>#BHNT32032</th>
                        <td>500.000.000</td>
                        <td>5.000.000</td>
                        <td>10</td>
                        <td>In process</td>
                        <td><a class="btn btn-info">Xem chi tiết</a></td>
                    </tr>
                    @if (ViewBag.AssignedContracts != null)
                    {
                        var list = ViewBag.AssignedContracts as HashSet<Insurance_agency.Models.ModelView.ContractView>;
                        foreach (var item in list)
                        {
                            <tr>
                                <td>@item.id</td>
                                <td>User @(item.user_id)</td>

                                <td>#BHNT3423@(item.insurance_id)</td>
                                <td>@item.value_contract</td>
                                <td>@item.year_paid</td>
                                <td>@item.number_year_paid</td>
                                <td>@item.status</td>
                                <td><a class="btn btn-info" href="/adminarea/contract/detail?id=@item.id">Xem chi tiết</a></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="container-fluid">
                <table id="myTable3" class="display">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Người mua</th>

                            <th>Mã bảo hiểm</th>
                            <th>Tổng giá trị bảo hiểm</th>
                            <th>Tiền trả trên năm</th>
                            <th>Số năm trả</th>
                            <th>Trạng thái</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody id="order_list">
                        <tr>
                            <td>1</td>
                            <td>Thoai Vip</td>

                            <th>#BHNT32032</th>
                            <td>500.000.000</td>
                            <td>5.000.000</td>
                            <td>10</td>
                            <td>In process</td>
                            <td><a class="btn btn-info">Xem chi tiết</a></td>
                        </tr>
                        @if (ViewBag.UnassignedContracts != null)
                        {
                            var list = ViewBag.UnassignedContracts as HashSet<Insurance_agency.Models.ModelView.ContractView>;
                            foreach (var item in list)
                            {
                                <tr>
                                    <td>@item.id</td>
                                    <td>User @(item.user_id)</td>

                                    <td>#BHNT3423@(item.insurance_id)</td>
                                    <td>@item.value_contract</td>
                                    <td>@item.year_paid</td>
                                    <td>@item.number_year_paid</td>
                                    <td>@item.status</td>
                                    <td><a class="btn btn-info" href="/adminarea/contract/detail?id=@item.id">Xem chi tiết</a></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
       document.addEventListener("DOMContentLoaded", function () {
        new DataTable('#myTable');
        new DataTable('#myTable2');

        new DataTable('#myTable3');

    });
</script>