@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Employee List";
    @model HashSet<Insurance_agency.Models.ModelView.User>;
}

<h1>Danh sách nhân viên</h1>

<table class="table align-middle mb-0 bg-white mt-5">
    <thead class="bg-light">
        <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Status</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
       @*  <tr>
            <td>
                <div class="d-flex align-items-center">
                    <img src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                         alt=""
                         style="width: 45px; height: 45px"
                         class="rounded-circle" />
                    <div class="ms-3">
                        <p class="fw-bold mb-1">John Doe</p>
                        <p class="text-muted mb-0">john.doe@gmail.com</p>
                    </div>
                </div>
            </td>
            <td>
                <p class="fw-normal mb-1">Software engineer</p>
                <p class="text-muted mb-0">IT department</p>
            </td>
            <td>
                <span class="badge badge-success rounded-pill d-inline">Active</span>
            </td>
            <td>Senior</td>
            <td>
                <button type="button" class="btn btn-link btn-sm btn-rounded">
                    Edit
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <div class="d-flex align-items-center">
                    <img src="https://mdbootstrap.com/img/new/avatars/6.jpg"
                         class="rounded-circle"
                         alt=""
                         style="width: 45px; height: 45px" />
                    <div class="ms-3">
                        <p class="fw-bold mb-1">Alex Ray</p>
                        <p class="text-muted mb-0">alex.ray@gmail.com</p>
                    </div>
                </div>
            </td>
            <td>
                <p class="fw-normal mb-1">Consultant</p>
                <p class="text-muted mb-0">Finance</p>
            </td>
            <td>
                <span class="badge badge-primary rounded-pill d-inline">Onboarding</span>
            </td>
            <td>Junior</td>
            <td>
                <button type="button"
                        class="btn btn-link btn-rounded btn-sm fw-bold"
                        data-mdb-ripple-color="dark">
                    Edit
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <div class="d-flex align-items-center">
                    <img src="https://mdbootstrap.com/img/new/avatars/7.jpg"
                         class="rounded-circle"
                         alt=""
                         style="width: 45px; height: 45px" />
                    <div class="ms-3">
                        <p class="fw-bold mb-1">Kate Hunington</p>
                        <p class="text-muted mb-0">kate.hunington@gmail.com</p>
                    </div>
                </div>
            </td>
            <td>
                <p class="fw-normal mb-1">Designer</p>
                <p class="text-muted mb-0">UI/UX</p>
            </td>
            <td>
                <span class="badge badge-warning rounded-pill d-inline">Awaiting</span>
            </td>
            <td>Senior</td>
            <td>
                <button type="button"
                        class="btn btn-link btn-rounded btn-sm fw-bold"
                        data-mdb-ripple-color="dark">
                    Edit
                </button>
            </td>
        </tr> *@
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            @if (item.avatar != null && item.avatar != string.Empty && !item.avatar.Equals("no avatar"))
                            {
                                <img src="~/Content/Image/Avatar/Employee/avatar1.png" alt="" style="width: 45px; height: 45px" class="rounded-circle" />
                            }
                            else{
                                <img src="https://mdbootstrap.com/img/new/avatars/6.jpg" alt="" style="width: 45px; height: 45px" class="rounded-circle" />
                            }
                            <div class="ms-3">
                                <p class="fw-bold mb-1">@item.full_name</p>

                                <p class="text-muted mb-0">@item.email</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">@item.address</p>
                       
                    </td>
                    <td>
                        <span class="badge badge-@(item.active == 1 ? "success" : "danger") rounded-pill d-inline">@(item.active==1 ?"Active":"Inactive")</span>
                    </td>
                    <td>@item.phone</td>
                    <td>
                        <a href="/adminarea/employee/employeedetail?id=@item.id" class="btn btn-link btn-sm btn-rounded">
                            Detail
                        </a>
                    </td>
                </tr>
    }
        }
    </tbody>
</table>
