@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
	HashSet<Insurance_agency.Models.ModelView.InsuranceView> insurance = new HashSet<Insurance_agency.Models.ModelView.InsuranceView>();
	if (ViewBag.item != null)
	{
		insurance = (HashSet<Insurance_agency.Models.ModelView.InsuranceView>)ViewBag.item;
	}
	HashSet<Insurance_agency.Models.ModelView.InsuranceView> all = new HashSet<Insurance_agency.Models.ModelView.InsuranceView>();
	if (ViewBag.all != null)
	{
		all = (HashSet<Insurance_agency.Models.ModelView.InsuranceView>)ViewBag.all;
	}
	var pageNum = (int)ViewBag.pageNum;
	var pageSize = (int)ViewBag.pageSize;
	var totalPage = all.Count / pageSize;
	float totalPageFloat = (float)all.Count / pageSize;
	if (totalPage < totalPageFloat)
	{
		totalPage++;
	}
}
<h3 class="mb-5">Insurance List</h3>
<a href="/adminarea/insurancemanagement/Create" class="btn btn-primary mb-5">Create New Insurance</a>
<table class="table table-hover">
	<thead class="thead-dark">
		<tr>

			<th>Id </th>
			<th>Name</th>
			<th>Description</th>
			<th>Type </th>

			<th>ExImage</th>
			<th>Function</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in insurance)
		{
			<tr>
				<td>@item.id</td>
				<td>@item.name</td>
				<td>@item.description</td>
				<td>@item.insurance_type_id</td>

				<td><img src="@Url.Content("~/Content")/Image/Ex/@item.ex_image" height="50" alt="Alternate Text" /></td>
				<td>
					<a href="@Url.Action("InsuranceEdit", "InsuranceManagement", new { id = item.id })" class="btn btn-primary">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
							<path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
						</svg>
					</a>
					<a href="@Url.Action("InsuranceDetail", new { id = item.id })" class="btn btn-info">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-richtext" viewBox="0 0 16 16">
							<path d="M7.5 3.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0m-.861 1.542 1.33.886 1.854-1.855a.25.25 0 0 1 .289-.047L11 4.75V7a.5.5 0 0 1-.5.5h-5A.5.5 0 0 1 5 7v-.5s1.54-1.274 1.639-1.208M5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5" />
							<path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2" />
							<path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z" />
						</svg>
					</a>
					<a href="@Url.Action("Delete", new { id = item.id })" class="btn btn-danger">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
							<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
							<path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
						</svg>
					</a>
				</td>
			</tr>
		}
	</tbody>
	
</table>
<div class="row">
	<ul class="pagination">

		@{
			if (pageNum > 1)
			{
				<li class="page-item"><a class="page-link" href="@Url.Action("index",new{pageNum=pageNum-1,pageSize=pageSize})">Previous</a></li>
			}
			int u = pageNum + 3;
			for (int i = pageNum; i < u; i++)
			{
				if (i <= totalPage)
				{
					<li class="page-item"><a class="page-link" href="@Url.Action("index",new{pageNum=i,pageSize=pageSize})">@i</a></li>
				}

			}
			if (pageNum < totalPage)
			{
				<li class="page-item"><a class="page-link" href="@Url.Action("index",new{pageNum=pageNum+1,pageSize=pageSize})">Next</a></li>
			}
		}

	</ul>
</div>


